* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Exotc350 Bd BT;
}

body {
    background-color: #020024;
    color: #00d4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container {
    height: 100%;
    width: 100%;
    margin: 12px auto;
    padding: 12px;

}

mark {
    margin: 2px 2px;
    padding: 2px 4px;
    border-radius: 4px;
    color: #020024;
    font-weight: bold;

}

h2,
p {
    text-align: center;
    font-size: large;
    margin: 12px 16px;
}

.game h1 {
    text-align: center;
    margin: 28px auto;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
}

#num {
    background-color: white;
    border: 2px solid white;
    text-align: center;
    font-weight: bold;
    padding: 8px 14px;
    border: 2px solid #00d4ff;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 28px;
}

button {
    padding: 8px 12px;
    font-weight: bold;
    background-color: #c1e8ff;
    border-radius: 6px;
}

button:hover {
    background-color: #16b0cf;
    color: #fff;
}

.btns {
    padding-top: 32px;
    display: flex;
    justify-content: space-evenly;
}

.result h4 {
    text-align: center;
    margin: 8px 0;
    padding: 8px;
    font-size: large;
}

.previousGuesses,
.remainingGuesses {
    color: black;
    background-color: yellow;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: bold;
}

.msg {
    text-align: center;
    font-weight: 300;
    color: rgb(29, 246, 29);
}